.padsidebar {
    position: relative;
    padding-top: 100%;
    padding-right: 15%;
    padding-bottom: 10%;

}


.paddedtitle {
    padding-top: 150px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 90px;
        
        }