.padsidebar {
    position: relative;
    height: 59%;
    top: 41%;
    padding-right: 30px;
    bottom: 50px;
    padding-left: 90px;
    overflow: scroll;
}

.paddedtitle {
         padding-top: 150px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 90px;
}

