{% load static %}
<!DOCTYPE html>
<html class="no-js">
    <head>
        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
        <title>About Predictive 26</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Template CSS Files
        ================================================== -->
        <!-- Twitter Bootstrs CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <!-- Ionicons Fonts Css -->
        <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
        <!-- animate css -->
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
        <!-- Hero area slider css-->
        <link rel="stylesheet" href="{% static 'css/slider.css' %}">
        <!-- owl craousel css -->
        <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
        <link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}">
        <!-- template main css file -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <!-- responsive css -->
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
        
        <!-- Template Javascript Files
        ================================================== -->
        <!-- modernizr js -->
        <script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>
        <!-- jquery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <!-- owl carouserl js -->
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <!-- bootstrap js -->

        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- wow js -->
        <script src="{% static 'js/wow.min.js' %}"></script>
        <!-- slider js -->
        <script src="{% static 'js/slider.js' %}"></script>
        <script src="{% static 'js/jquery.fancybox.js' %}"></script>
        <!-- template main js -->
        <script src="{% static 'js/main.js' %}"></script>
    </head>
    <body>
        <!--
        ==================================================
        Header Section Start
        ================================================== -->
          {% include "map/header.html" %}
        <!-- 
        ================================================== 
            Global Page Section Start
        ================================================== -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>Predictive26</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="/map/index">
                                        <i class="ion-ios-home"></i>
                                        Home
                                    </a>
                                </li>
                                <li class="active">About</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 
        ================================================== 
            Company Description Section Start
        ================================================== -->
        <section class="company-description">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s" >
                        <img src="{% static 'img/team/team.jpg' %}" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-6">
                        <div class="block">
                            <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">Our Start</h3>
                            <p  class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                                Hailing from different corners of the country, our team, Predictive26, is overwhelmingly diverse, not only geographically, but also in our areas of expertise. With one mechanical engineer, two advanced coders, a business and design major, and two chemical engineers, the average day for us is not unlike something you might see on television. With our wide range of skills and creative insights constantly flowing, we looked at every angle possible to try and come up with the best solution for our problem. And our result, HealthRAIS, is the system that all of this is devoted to. 
                            </p>                          
                         </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- 
        ================================================== 
            Company Feature Section Start
        ================================================== -->
        <section class="about-feature clearfix">
            <div class="container-fluid">
                <div class="row">
                    <div class="block about-feature-1 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">
                       <!--
                        <h2>
                        Why Choose Us
                        </h2>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas.
                        </p>
                        -->
                    </div>
                    <div class="block about-feature-2 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                    <!--    
                    <h2 class="item_title">
                        What You Get
                        </h2>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas.
                        </p>
                        -->
                    </div>
                    <div class="block about-feature-3 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".7s">
                        <!--
                        <h2 class="item_title">
                        Meet The Energy
                        </h2>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas.
                        </p>
                        -->
                    </div>
                </div>
            </div>
        </section>


        <!-- 
        ================================================== 
            Team Section Start
        ================================================== -->
        <section id="team">
            <div class="container">
                <div class="row">
                    <h2 class="subtitle text-center">Meet The Team</h2>
                    <div class="col-md-4">
                        <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s">
                            <div class="team-img">
                                <img src="{% static 'img/team/adam.jpg' %}" class="team-pic" alt="">
                            </div>
                            <h3 class="team_name">Adam Wienberger</h3>
                            <p class="team_designation">Team Lead</p>
                            <p class="team_text"> Senior consultant in the JHT ACCT group within Booz Allen. I am working with different text analysis metrics and algorithms, and R Shiny and other R graphing libraries.
                            </p>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".5s">
                            <div class="team-img">
                                <img src="{% static 'img/team/caroline.jpg' %}" class="team-pic" alt="">
                            </div>
                            <h3 class="team_name">Caroline Gimmillaro</h3>
                            <p class="team_designation">Team Lead</p>
                            <p class="team_text">HealthRAIS was inspired by my graduate thesis work at the Harvard Kennedy School studying the communication methods used in Sierra Leone during the 2014 Ebola epidemic.  
                            </p>
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".7s">
                            <div class="team-img">
                                <img src="{% static 'img/team/ej.jpg' %}" class="team-pic" alt="">
                            </div>
                            <h3 class="team_name">Esther "Ej" Armah</h3>
                            <p class="team_designation">Chemical Engineer Consultant</p>
                            <p class="team_text"> I conducted exstensive research into how outbreaks develop into epidemics within developing countries. I also studyied the history of major epidemics and how quickly they spread.  
                            </p>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".7s">
                            <div class="team-img">
                                <img src="{% static 'img/team/trey.jpg' %}" class="team-pic" alt="">
                            </div>
                            <h3 class="team_name">Trong "Trey" Nguyen</h3>
                            <p class="team_designation">Business and Technology Consultant</p>
                            <p class="team_text"> I helped developed the web application and team site, focusing on implementing map functionalities.  In addition I helped with business insight and framing research.
                            </p>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".7s">
                            <div class="team-img">
                                <img src="{% static 'img/team/kit.jpg' %}" class="team-pic" alt="">
                            </div>
                            <h3 class="team_name">Margaret "Kit" Philleo</h3>
                            <p class="team_designation">Mechanical Engineer Consultant</p>
                            <p class="team_text"> orginization and developmental to lead. I managed all work flows and deadlines for this project. Was in charge of the HTML and CSS coding of the predicitve26 website. 
                            </p>
                            
                        </div>
                    </div>
                </div>
                <div row="row">
                    <div class="col-md-4">
                        <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".7s">
                            <div class="team-img">
                                <img src="{% static 'img/team/tori.jpg' %}" class="team-pic" alt="">
                            </div>
                            <h3 class="team_name">Victoria "Tori" Poncy</h3>
                            <p class="team_designation">Chemical Engineer Consultant</p>
                            <p class="team_text"> I played a mojor role in the scoping and orginization of predictive26's problem statement and the CONOP the the team produced. I organized and developed the content for the Predictive26 website.  
                            </p>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".7s">
                            <div class="team-img">
                                <img src="{% static 'img/team/vik.jpg' %}" class="team-pic" alt="">
                            </div>
                            <h3 class="team_name">Vikram "Vik" Ramesh</h3>
                            <p class="team_designation">Business and Design Consultant</p>
                            <p class="team_text"> I was the graphic design lead and orginizer of the presentation. I created the infographics and the powerpoint slides for the final presentation.
                            </p>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".9s">
                            <div class="team-img">
                                <img src="{% static 'img/team/andrew.jpg' %}" class="team-pic" alt="">
                            </div>
                            <h3 class="team_name">Andrew Samuelson</h3>
                            <p class="team_designation">Industrial Engineer Consultant</p>
                            <p class="team_text"> IT lead of team. I focused on the deployment of the SMS demo and the build of the final product. I also setup our platforms machine learning capabilty. 
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
        <!--
        ==================================================
        Call To Action Section Start
        ================================================== -->
        <section id="call-to-action">
                <div class="container">
                    <div class="row">
                        <div class="col-md-push-12 text-center">
                            <div class="block">
                                <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">Let Us Know What You Think</h1>
                                <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">
                                Predictive26 loves to hear what you think. If you have any feedback for us, please let us know!
                                </p>
                                <a href="contact.html" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">Contact Us</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
        <!--
        ==================================================
        Footer Section Start
        ================================================== -->
        <footer id="footer">
            <div class="container">
                <div class="col-md-8">
                    <p class="copyright">Copyright: <span>2017</span> . Design and Developed by <a href="/map/about">Predictive26</a></p>
                </div>
                <div class="col-md-4">
                    <!-- Social Media -->
                    <ul class="social">
                        <li>
                            <a href="#" class="Facebook">
                                <i class="ion-social-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="Twitter">
                                <i class="ion-social-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="Linkedin">
                                <i class="ion-social-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="Google Plus">
                                <i class="ion-social-googleplus"></i>
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </footer> <!-- /#footer -->
        
    </body>
</html>