{% load static %}
<!DOCTYPE html>
<html class="no-js">
    <head>
        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
        <title>About Predictive 26</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Template CSS Files
        ================================================== -->
        <!-- Twitter Bootstrs CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <!-- Ionicons Fonts Css -->
        <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
        <!-- animate css -->
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
        <!-- Hero area slider css-->
        <link rel="stylesheet" href="{% static 'css/slider.css' %}">
        <!-- owl craousel css -->
        <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
        <link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}">
        <!-- template main css file -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <!-- responsive css -->
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
        
        <!-- Template Javascript Files
        ================================================== -->
        <!-- modernizr js -->
        <script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>
        <!-- jquery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <!-- owl carouserl js -->
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <!-- bootstrap js -->

        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- wow js -->
        <script src="{% static 'js/wow.min.js' %}"></script>
        <!-- slider js -->
        <script src="{% static 'js/slider.js' %}"></script>
        <script src="{% static 'js/jquery.fancybox.js' %}"></script>
        <!-- template main js -->
        <script src="{% static 'js/main.js' %}"></script>
    </head>
    <body>
    {% include "map/header.html" %}

        <!-- 
        ================================================== 
            Global Page Section Start
        ================================================== -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>Health R.A.I.S</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="/map/index">
                                        <i class="ion-ios-home"></i>
                                        Home
                                    </a>
                                </li>
                                <li class="active">Products</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 
        ================================================== 
            Company Description Section Start
        ================================================== -->
          <section class="banner">
            <div class="container">
                <div class="row">
                    <div class="fadeInLeft" data-wow-delay=".3s" >
                        <img src="{% static 'img/RAISlogo.png' %}" style="height:100%; width:100%" class="img-responsive">
                    </div>
                </div>
            </div>
        </section>
        
        
        


      
        <!--
        ==================================================
        Clients Section Start
        ================================================== -->
         
              
      
        <section class="infographic">
          <h2 class="subtitle text-center">How Health R.A.I.S. Works</h2>
            <div class="container">
               
                <div class="row">
                    <div class="col-md-12">
                         <img src="{% static 'img/howitworks.png' %}" width="100%">
                    </div>
                </div>
         
            </div>
        </section>
        
        
         <!-- 
       ================================================
       pricing section 
       ================================================ -->
     {% include "map/pricing.html" %}
    
         <!--
            ==================================================
           "Technology stack" start HOW TO REGISTER 
            ================================================== -->
        <section>
            <div class="container">
                <div class="row">
                    <h2 class="subtitle text-center">How Health R.A.I.S. Regisiters Phones</h2>
                </div>
        <div class="row">
                        <div class="block; col-md-8" style="inline:block" align="center">
                            <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">Registering</h2>
                            
                             <div class="row service-parts">
                                <p  class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                                 The platform will generate authorization codes specific to each hospital or clinic.  
                                </p>
                                <p  class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration="500ms">
                                  To register a cell phone for a specific healthcare facility, text that facility’s authorization code to (571) 200-4949  
                                </p>
                            </div>
                        </div>
        
                <div class="col-md-push-8">
                        <div style="width: 20%; float: right;"> 
                            <div class="block wow fadeInLeft animated" data-wow-delay=".3s" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 0.3s; animation-name: fadeInLeft;"> 
                                <img id="phone" src="{% static 'img/phone1.png' %}" alt="">
                            </div>
                            
                        </div>
                    
                </div>
        </div> 
                                 
        <div class="row">
                  <div class="col-md-push-8">                    
                        <div style="width: 20%; float: left;"> 
                            <div class="block wow fadeInLeft animated" data-wow-delay=".3s" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 0.3s; animation-name: fadeInLeft;"> 
                                <img id="phone" src="{% static 'img/phone2.png' %}" alt="">
                            </div>
                            
                        </div>
                </div>
                
                        <div class="block; col-md-8" style="inline:block" align="center">
                            <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">Reporting</h2>
                            
                             <div class="row service-parts">
                                <p  class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                                 To make a report, format texts as follows:
                                <br>
                                 (name of disease) , (number of cases)
                                </p>
                                <p  class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration="500ms">
                                  To include multiple reports in one text, separate each with a semicolon (;)
                                </p>
                            </div>
                        </div>
            
              
        </div>   
        <div class="row">
                <div class="col-md-8">
                        <div class="block" style="inline:block" align="center">
                            <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">Alerts</h2>
                            
                             <div class="row service-parts">
                                <p  class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                                 To generate an alert, simply enter into the HealthRAIS platform and type up your preferred message.
                                </p>
                                <p  class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration="500ms">
                                  Frequently used alerts will be saved within the platform for ease of selection later.
                                </p>
                            </div>
                        </div>
                </div>
                <div class="col-md-push-6">
                        <div style="width: 20%; float: right;"> 
                            <div class="block wow fadeInLeft animated" data-wow-delay=".3s" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 0.3s; animation-name: fadeInLeft;"> 
                                <img id="phone" src="{% static 'img/phone3.png' %}" alt="">
                            </div>
                            
                        </div>
                </div>
        </div>
         
              
            </div>
        </section>
         <!-- 
  ================================================== 
  clickable section start 
  ================================================== --> 

            <div id="information-network">
            </div>
             <br>
            <br>
            <br>             
            <section id="feature" class="works">
                <div class="container">                 
                              
                        <div class="col-md-1 col-lg-7 col-xs-12">
                            <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1200ms">
                                <div class="media-left">
                                    <div class="icon">
                                       <img id="icon" src="{% static 'img/about/icons/link.png' %}" alt="">
                                    </div>
                                </div>                  
                                <div class="media-body">
                                    <h4 class="media-heading">Information Network</h4>
                                    <p>Health-R.A.I.S. facilitate two-way information sharing between the user and the local healthcare providers sending data. Users can decide what messages should be texted back to the health care locations that each data set is assigned to. This can be tailored to warnings of an outbreak, vigilance of a certain symptoms, or notifications of incoming supplies or international help. The User will have full control over the area that will be messaged the user's custom alert or notification. This added benefit will help fix the disconnect between the people that make resource decisions and the people on the front lines of any outbreak. 
                                    </p>
                                </div>
                            </div>
                        </div>                 
                                                       
                        <div class="col-md-1 col-lg-7 col-xs-12">
                            <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1200ms">
                                <div class="media-left">
                                    <div class="icon">
                                        <img id="icon" src="{% static 'img/about/icons/message.png' %}" alt="">
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Hard to Reach Places</h4>
                                    <p>The platform utilizes a Django server intended to live on site with the user and the Twilio API to facilitate SMS data collection. The Django server will collect and aggregate the data it receives from hospitals, clinics, and NGOs reporting health data. The server will constantly analyze the data to look for areas that have abnormal levels of reports and issue warnings in a front-end interface that the client will easily be able to interact with. At the user’s discretion, all registered phone numbers in an area can be contacted with an alert, customizable by the user. Additional datasets can be called from Sailfish to try and predict warning areas where infectious diseases have a higher risk of spreading. Finally, access to the server will be granted based on client specification, to either increase the transparency of all collected data or to restrict access to prevent possible panic. 
                                    </p>
                                </div>
                            </div>
                        </div> 
                  
                    </div>
            </section>


       
        
        
         <!--
        ==================================================
        Timeline Start
        ================================================== -->
      <!--
      <section id="clients">
            <div class="container">
                <div class="row">
                    <div class="col-md-push-12 text-center">
                        <h2 class="subtitle text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">Timeline</h2>
                        <p class="subtitle-des text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, error.</p>
                        <div class="col-md-8">
                        <div id="clients-logo" class="owl-carousel">
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!--
        ==================================================
        Call To Action Section Start
        ================================================== -->
        <section id="call-to-action">
                <div class="container">
                    <div class="row">
                        <div class="col-md-push-12 text-center">
                            <div class="block">
                                <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">Want to Buy a Package?</h1>
                                <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">
                                Inquire about package options and pricing.
                                </p>
                                <a href="contact.html" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">Learn More</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
        <!--
        ==================================================
        Footer Section Start
        ================================================== -->
        <footer id="footer">
            <div class="container">
                <div class="col-md-8">
                    <p class="copyright">Copyright: <span>2017</span> . Design and Developed by <a href="/map/about">Predictive26</a></p>
                </div>
                <div class="col-md-4">
                    <!-- Social Media -->
                    <ul class="social">
                        <li>
                            <a href="#" class="Facebook">
                                <i class="ion-social-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="Twitter">
                                <i class="ion-social-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="Linkedin">
                                <i class="ion-social-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="Google Plus">
                                <i class="ion-social-googleplus"></i>
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </footer> <!-- /#footer -->
        
    </body>
</html>