{% load static %}
    <link rel="stylesheet" href="{% static 'css/constant-mini-sidenav.css' %}">
      <link rel="stylesheet" href="{% static 'css/tooltip.css' %}">
		<div id="header">
        
   
  
       
			<ul id="navigation">
				<li><a id="link-home" href="#home" class="wrapper exit-btn"><img src="{% static 'icons/SVG/home.svg' %}"></img><div class="tooltip1">HOME</div></a></li>
             <li><a id="link-map" href="#olmap" class="wrapper nav-toggler"><img src="{% static 'icons/SVG/map2.svg' %}"></img><div class="tooltip1">MAP</div></a></li>  
             <li><a id="link-graph" href="#graphs" class="wrapper nav-toggler"><img src="{% static 'icons/SVG/stats-dots.svg' %}"></img><div class="tooltip1">GRAPHS</div></a></li>
				<li><a id="link-reports" href="#reports" class="wrapper nav-toggler"><img src="{% static 'icons/SVG/info.svg' %}"></img><div class="tooltip1">REPORTS</div></a></li>
				<li><a id="link-alerts" href="#alerts" class="wrapper nav-toggler"><img src="{% static 'icons/SVG/bubbles4.svg' %}"></img><div class="tooltip1">ALERTS</div></a></li>
			
   				
            <li><a id="link-download" href="#downloads" class="wrapper nav-toggler"><img src="{% static 'icons/SVG/download3.svg' %}"></img><div class="tooltip1">DOWNLOAD</div></a></li>
			</ul></div>