{% load static %}
    <link rel="stylesheet" href="{% static 'css/constant-mini-sidenav.css' %}">
      <link rel="stylesheet" href="{% static 'css/tooltip.css' %}">
		<div id="header">
			<h1>Page Transitions with CSS3</h1>
			<ul id="navigation">
				<li><a id="link-home" href="#home" class="wrapper"><img src="{% static 'icons/SVG/home.svg' %}"></img><div class="tooltip1">HOME</div></a></li>
                
				<li><a id="link-portfolio" href="#portfolio"><img src="{% static 'icons/SVG/file-text2.svg' %}"></img></a></li>
				<li><a id="link-about" href="#about"><img src="{% static 'icons/SVG/bubbles4.svg' %}"></img></a></li>
				<li><a id="link-contact" href="#contact"><img src="{% static 'icons/SVG/search.svg' %}"></img></a></li>
			</ul></div>