{% load static %} 
<!DOCTYPE html>
<html class='no-js'>
    <head>
        <title>FC-python wrapper</title>

        
    </head>
    <body>
<!--
        <div id="pt-main" class="pt-perspective">
            <div class="pt-page pt-page-1">
                <div id="chart-2">{{ output_2dcol|safe }}</div>
            </div>
            <div class="pt-page pt-page-2">
                <div id="chart-1">{{ output_zoom_line|safe }}</div>
            </div>
        </div>
        -->



		<div class="pt-message">
			<p>Your browser does not support CSS animations.</p>
		</div>

    <link rel="stylesheet" href="{% static 'pagetransitions/css/animations.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'pagetransitions/css/component.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'pagetransitions/css/default.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'pagetransitions/css/multilevelmenu.css' %}" type="text/css">
	</body>
    </body>
</html> 