{% load static %}
<!DOCTYPE html>
<html class="no-js">
    <head>
        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
        <title>Predictive26 Site</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Template CSS Files
        ================================================== -->
        <!-- Twitter Bootstrs CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <!-- Ionicons Fonts Css -->
        <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
        <!-- animate css -->
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
        <!-- Hero area slider css-->
        <link rel="stylesheet" href="{% static 'css/slider.css' %}">
        <!-- owl craousel css -->
        <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
        <link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}">
        <!-- template main css file -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <!-- responsive css -->
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
        
        <!-- Template Javascript Files
        ================================================== -->
        <!-- modernizr js -->
        <script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>
        <!-- jquery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <!-- owl carouserl js -->
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <!-- bootstrap js -->

        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- wow js -->
        <script src="{% static 'js/wow.min.js' %}"></script>
        <!-- slider js -->
        <script src="{% static 'js/slider.js' %}"></script>
        <script src="{% static 'js/jquery.fancybox.js' %}"></script>
        <!-- template main js -->
        <script src="{% static 'js/main.js' %}"></script>
    </head>
    <body>
        <!--
        ==================================================
        Header Section Start
        ================================================== -->
          {% include "map/header.html" %}
        <!--
        ==================================================
        Slider Section Start
        ================================================== -->
        <section id="hero-area" >
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="block wow fadeInUp" data-wow-delay=".3s">
                            
                            <!-- Slider -->
                            <section class="cd-intro">
                                <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >
                                <span>Health R.A.I.S</span><br>

                                <span class="cd-words-wrapper">
                                    <b class="is-visible">MAPPING</b>
                                    <b>PREDICTING</b>
                                    <b>SAVING</b>
                                </span>
                                </h1>
                                </section> <!-- cd-intro -->
                                <!-- /.slider -->
                                <h2 class="wow fadeInUp animated" data-wow-delay=".6s" >
                                   Using SMS data and predictive analytics, we provide a platform to report and monitor health data to catch outbreaks before they can spread.
                                </h2>
                            <div id="main buttons">
                                <a href="product" class="btn craft-btn">
            									<div class="craft-btn-content">
            									<h4>Demo</h4>
            									<h4>Health R.A.I.S.</h4>                                             								
            						      </div>
                                </a>
                                <a href="product" class="btn craft-btn">
            									<div class="craft-btn-content">
            									<h4>Login to</h4>
                								<h4>Health R.A.I.S.</h4>                                             								
            						      </div>
                                </a>
                            </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </section><!--/#main-slider-->
            <!--
            ==================================================
            Slider Section Start
            ================================================== -->
            <section id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6" style="display: inline-block;">
                            <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                                <h2>
                                THE STORY
                                </h2>
                                <p>
                                    Governments in developing countries often fail to quickly identify abnormal infectious disease activity because there is no effective tool or information network that allows officials and health workers to regularly share infectious disease information in a timely manner. These governments rely on outdated modes of information sharing, such as paper and other non-electronic reporting methods, making data sharing extremely slow. As a result, national governments are often unable to catch outbreaks before they turn into epidemics.  In 2014, it took Guinea nearly three months to detect an outbreak of Ebola. Seventeen months later, the virus had spread to 6 different countries and over 11,000 people had perished.  
                                </p>
                                <p>
                                    HealthRAIS continuously monitors infectious diseases in developing countries and quickly detects outbreaks. The web-based platform collects, standardizes, analyzes, and maps data from small clinics and hospitals in these countries using a combination of SMS and internet data. The tool is intended to give governments and NGOs in developing countries a bird’s eye view of infectious disease activity. Users can view disease cases and deaths counts on a map and generate reports at regional, national, state, district, and local levels.  HealthRAIS uses clustering and anomaly detection to alert users when abnormal infectious disease activity occurs, enabling them to catch outbreaks in their earliest stages. Armed with this information, governments and NGOs can quickly respond to outbreaks and send resources where they are needed. 
                                </p>
                                <p>
                                    Humans will always be susceptible to diseases. Globalization and increasingly fluid borders means that disease can spread father and faster than ever. HealthRAIS combats disease spread by allowing users to see outbreaks as they are beginning so they can respond before thousands or even millions of lives are lost. Future pathogens and outbreaks will come, but by providing consistent information, we can make ourselves less vulnerable to the expedited spread of infectious diseases. Our team holds the unfaltering belief that information in the right hands can be the difference between outbreak and pandemic.  
                                </p>
                            </div>
                            
                         </div>
                       
                        <div style="width: 25%; float: right;">
                            <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                                <img id='logo' src="{% static 'img/logo1.png' %}" alt="">
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12" style="float:left;">
                            <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                                <p>
                                    HealthRAIS continuously monitors infectious diseases in developing countries and quickly detects outbreaks. The web-based platform collects, standardizes, analyzes, and maps data from small clinics and hospitals in these countries using a combination of SMS and internet data. The tool is intended to give governments and NGOs in developing countries a bird’s eye view of infectious disease activity. Users can view disease cases and deaths counts on a map and generate reports at regional, national, state, district, and local levels.  HealthRAIS uses clustering and anomaly detection to alert users when abnormal infectious disease activity occurs, enabling them to catch outbreaks in their earliest stages. Armed with this information, governments and NGOs can quickly respond to outbreaks and send resources where they are needed.
                                </p>
                                <p>
                                    Humans will always be susceptible to diseases. Globalization and increasingly fluid borders means that disease can spread father and faster than ever. HealthRAIS combats disease spread by allowing users to see outbreaks as they are beginning so they can respond before thousands or even millions of lives are lost. Future pathogens and outbreaks will come, but by providing consistent information, we can make ourselves less vulnerable to the expedited spread of infectious diseases. Our team holds the unfaltering belief that information in the right hands can be the difference between outbreak and pandemic.  
                               </p>
                            </div>
                            
                       </div>
                    </div>
            </div>
            </section> <!-- /#about -->
            <!--
            ==================================================
            Portfolio Section Start
            ================================================== -->
       
            <!--
            ==================================================
            Portfolio Section Start
            ================================================== -->
            <section id="feature" class="works">
                <div class="container">
                    <div class="section-heading">
                        <h1 class="title wow fadeInDown" data-wow-delay=".3s">Our Mission</h1>
                        <p class="wow fadeInDown" data-wow-delay=".6s">
                             Information in the right hands can make the difference
                        </p>
                    </div>
                </div>
                <div class="container">
                        <div class="col-md-6 col-lg-6 col-xs-11" style="height:">
                            <div class="media2 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                                <div class="media-left">
                                    <div class="icon">    
                                        <img id="icon" src="{% static 'img/about/icons/folder2.png' %}" onclick="location.href='/map/service#consistent-monitoring';" alt="">
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading" onclick="location.href='/map/service#consistent-monitoring';"> Consistent Monitoring</h4>
                                    <p2>Most developing countries use paper-based reporting methods, resulting in unstandardized and unorganized data. HealthRAIS continuously collects, aggregates, standardizes, and displays data to provide and accurate and up-to-date picture of infectious disease activity.</p2>
                                </div>
                            </div>
                        </div>
                  </div>
                    <div class="container">
                        <div class="col-md-push-6 col-lg-6 col-xs-11" style="margin:0">
                            <div class="media2 wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="600ms">
                                <div class="media-left">
                                    <div class="icon">
                                       <img id="icon" src="{% static 'img/about/icons/link.png' %}" onclick="location.href='/map/blog#information-network';" alt="">
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading" onclick="location.href='/map/blog#information-network';">Information Network</h4>
                                    <p2>In the past, local level healthcare providers were not communicating. By recreating the reporting process, data is gathered from these healthcare providers, and with the built-in alert system, users can send mass SMS responses back to numbers registered within the platform.</p2>
                                </div>
                            </div>
                        </div>
                  </div>
                    <div class="container">
                        <div class="col-md-6 col-lg-6 col-xs-12" style="margin:0">
                            <div class="media2 wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">
                                <div class="media-left">
                                    <div class="icon">
                                        <img id="warning" src="{% static 'img/about/icons/alert.png' %}" onclick="location.href='/map/service#consistent-monitoring';" alt="">
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading" onclick="location.href='/map/service#consistent-monitoring';">Early Warning</h4>
                                    <p2>In developing countries, there is a dire need for accurate, up-to-date information to catch outbreaks early on. HealthRAIS detects and shows abnormal disease activity and creates the opportunity for officials to make the decisions necessary to stop outbreaks in their tracks.</p2>
                                </div>
                            </div>
                        </div>
                     </div>
                       <div class="container">
                        <div class="col-md-push-6 col-lg-6 col-xs-12" style="margin:0">
                            <div class="media2 wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1200ms">
                                <div class="media-left">
                                    <div class="icon">
                                        <img id="icon" src="{% static 'img/about/icons/message.png' %}" onclick="location.href='/map/blog#information-network';" alt="">
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading" onclick="location.href='/map/blog#information-network';">Hard to Reach Places</h4>
                                    <p2>A large portion of the world still does not have access to the internet, and because of that, HealthRAIS utilizes SMS reporting to gather data from every corner of the region. Now, hospitals and clinics everywhere can report and receive alerts using just one simple cell-phone.</p2>
                                </div>
                            </div>
                        </div> 
                       </div>
           
                        <!-- 
                        <div class="col-md-4 col-lg-4 col-xs-12">
                            <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1500ms">
                                <div class="media-left">
                                    <div class="icon">
                                        <i class="ion-ios-keypad-outline"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Solid Support</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, sint.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-12">
                            <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1800ms">
                                <div class="media-left">
                                    <div class="icon">
                                        <i class="ion-ios-barcode-outline"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Simple Installation</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, sint.</p>
                                </div>
                            </div>
                        </div>
                        --> 
               
            </section> <!-- /#feature --> 
          
                            
            <!--
            ==================================================
            Call To Action Section Start
            ================================================== -->
            <section id="call-to-action">
                <div class="container">
                    <div class="row">
                        <div class="col-md-push-12 text-center">
                            <div class="block">
                                <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">Let Us Know What You Think</h1>
                                <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">
                                Predictive26 loves to hear what you think. If you have any feedback for us, please let us know!
                                </p>
                                <a href="contact.html" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">Contact Us</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <!--
            ==================================================
            Footer Section Start
            ================================================== -->
            <footer id="footer">
                <div class="container">
                    <div class="col-md-8">
                        <p class="copyright">Copyright: <span>2017</span> . Design and Developed by <a href="/map/about">Predictive26</a></p>
                    </div>
                    <div class="col-md-4">
                        <!-- Social Media -->
                        <ul class="social">
                            <li>
                                <a href="http://wwww.fb.com/themefisher" class="Facebook">
                                    <i class="ion-social-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://wwww.twitter.com/themefisher" class="Twitter">
                                    <i class="ion-social-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="Linkedin">
                                    <i class="ion-social-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://wwww.fb.com/themefisher" class="Google Plus">
                                    <i class="ion-social-googleplus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer> <!-- /#footer -->
                
        </body>
    </html>
