{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Summer Games</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    
    


    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static 'device-mockups/device-mockups.min.css' %}">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/new-age.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/agency.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.min.css' %}" rel="stylesheet">

    <!-- Temporary navbar container fix -->
    <style>

    .navbar-toggler {
        z-index: 1;
    }
    
    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
        
    .img-circle {
  border-radius: 50%;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.timeline {
    list-style: none;
    padding: 0;
    position: relative;
}
#margin.section-heading.text-center {
    margin-bottom: 100px;
}
.background-semi-dark {
    background-color: #5bc0de;
}
.timeline>li .timeline-image {  
    background-color: #31b0d5;
}
.body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: #d35400;
}
section.features {
        background-color: #fff
        }

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

    @media (min-width: 992px)
{
#mainNav {
    animation: 1s ease-out 0s 1 slideInFromLeft;
}}

.header-content{
       
    animation: 1s ease-out 0s 1 slideInFromLeft; }


.social-icon li a {
    font-size: 16px;
    text-align: center;
    width: 33px;
    height: 33px;
    padding: 2px;
    border-radius: 50%;
    margin-right: 15px;
    background-color: transparent;
    color: #ffffff;
    border: 2px solid;
    border-color: #ffffff;
    display: inline-block;
}
.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white; }
  .btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
    color: white;
    border-color: #fdcc52;
    background-color: #fdcc52; }
  
  @keyframes pulse_animation {
	0% { transform: scale(1); }
	30% { transform: scale(1); }
	40% { transform: scale(1.08); }
	50% { transform: scale(1); }
	60% { transform: scale(1); }
	70% { transform: scale(1.05); }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}
  .pulse {
	animation-name: pulse_animation;
	animation-duration: 3000ms;
	transform-origin:70% 100%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

    </style>

</head>


<body id="page-top" class="body">

    <!-- Navigation -->
    
<div id="overlay" hidden="True"></div>

    <nav class="navbar fixed-top navbar-toggleable-md navbar-light" id="mainNav">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            Menu <i class="fa fa-bars"></i>
        </button>
        <div class="container">
            <a class="navbar-brand" href="#page-top">Predictive26</a>
            <div class="collapse navbar-collapse" id="navbarExample">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#download">Our Story</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#features">Features</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#about">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Social Media</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="masthead">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1>Through both internet and non-internet sources, our crowd-sourced web-based platform will collect, standardize, analyze, and map data from local-level healthcare providers.</h1>
                            <a href="/map/product/" id="product" class="btn btn-outline btn-xl pulse">Start Now for Free!</a>
                            <a href="#download" class="btn btn-outline btn-xl pulse">Click to Learn More!</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-15">
                </div>
            </div>
        </div>
    </header>

    <section class="download bg-primary text-center" id="download">
        <div class="container">
           
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image pulse">
                                <img class="img-circle img-responsive" src="{% static 'img/about/1.jpg' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2011</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image pulse">
                                <img class="img-circle img-responsive" src="{% static 'img/about/2.jpg' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2011</h4>
                                    <h4 class="subheading">A Product is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                 </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image pulse">
                                <img class="img-circle img-responsive" src="{% static 'img/about/3.jpg' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Transition to SMS</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image pulse">
                                <img class="img-circle img-responsive" src="{% static 'img/about/4.jpg' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image pulse">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="features" id="features">
        <div class="container">
            <div class="section-heading text-center">
                <h2>Helping save lives, one feature at a time!</h2>
                <p class="text-muted">See how Predictive26 can help you!</p>
                <hr>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    
                        
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="{% static '/img/nurse.png' %}" class="img-fluid" alt=""> </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        
                    
                </div>
                <div class="col-lg-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="icon-screen-smartphone text-primary"></i>
                                    <h3>SMS Accessible</h3>
                                    <p class="text-muted">Our platform supports internet and non-internet regions, with just the use of SMS!</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="icon-camera text-primary"></i>
                                    <h3>Meaningful Imagery</h3>
                                    <p class="text-muted">Our map analysis makes sense, putting the right information in a presentable format!</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="icon-present text-primary"></i>
                                    <h3>Free to Use</h3>
                                    <p class="text-muted">As always, our product is free to use!</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="icon-lock-open text-primary"></i>
                                    <h3>Crowd Source</h3>
                                    <p class="text-muted">We collect data from local health care providers to help local health care providers!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   
        <section class="features-section-6 relative background-semi-dark" id="about">
            <div class="container">
            

                    <!-- Start: Section Header -->
                    <div class="section-heading text-center" id="margin" >
                        <h2 class="section-heading">The Team</h2>
                        <p class="text-muted">The people who made it possible</p>
                        <hr>
                       
                        
                    </div>
                    
                    <!-- End: Section Header -->

                    <div class="clearfix"></div>

                    <div class="features-item col-xs-12">
                        <div class="row">
                            
                            <div class="each-features col-md-3 col-sm-6 col-xs-12">
                                <div class="inner background-light text-center">
                                    <div class="features-hover">
                                        <img src="{% static 'img/tori.jpg' %}" alt="Our Members" class="img-responsive">
                                        <div class="mask">
                                            <div class="mask-inner">
                                                <div class="title">Get Connected</div>
                                                <ul class="nav social-icon">
                                                    <li><a href="#"><i class="icon icons8-facebook"></i></a></li>
                                                    <li><a href="#"><i class="icon icons8-twitter"></i></a></li>
                                                    <li><a href="#"><i class="icon icons8-pinterest"></i></a></li>
                                                    <li><a href="#"><i class="icon icons8-instagram"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="detail">
                                        <h6 class="name">Caroline Gimmillaro</h6>
                                        <p class="position">Challenge Lead</p>
                                    </div>
                                        
                                </div> <!-- End: .inner -->
                            </div> <!-- End: .each-features -->

                            <div class="each-features col-md-3 col-sm-6 col-xs-12">
                                <div class="inner background-light text-center">
                                    <div class="features-hover">
                                        <img src="{% static 'img/tori.jpg' %}" alt="Our Members" class="img-responsive">
                                        <div class="mask">
                                            <div class="mask-inner">
                                                <div class="title">Get Connected</div>
                                                <ul class="nav social-icon">
                                                    <li><a href="#"><i class="icon icons8-facebook"></i></a></li>
                                                    <li><a href="#"><i class="icon icons8-twitter"></i></a></li>
                                                    <li><a href="#"><i class="icon icons8-pinterest"></i></a></li>
                                                    <li><a href="#"><i class="icon icons8-instagram"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="detail">
                                        <h6 class="name">Adam Weinberger</h6>
                                        <p class="position">Challenge Lead</p>
                                    </div>
                                        
                                </div> <!-- End: .inner -->
                            </div> <!-- End: .each-features -->

                            <div class="each-features col-md-3 col-sm-6 col-xs-12">
                                <div class="inner background-light text-center">
                                    <div class="features-hover">
                                        <img src="{% static 'img/ester lmaoo.jpg' %}" alt="Our Members" class="img-responsive">
                                        <div class="mask">
                                            <div class="mask-inner">
                                                <div class="title">Get Connected</div>
                                                <ul class="nav social-icon">
                                                    <li><a href="#"><i class="icon icons8-facebook"></i></a></li>
                                                    <li><a href="#"><i class="icon"></i></a></li>
                                                    <li><a href="#"><i class="icon"></i></a></li>
                                                    <li><a href="#"><i class="icon"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="detail">
                                        <h6 class="name">Esther Armah</h6>
                                        <p class="position">Summer Games Intern</p>
                                    </div>
                                        
                                </div> <!-- End: .inner -->
                            </div> <!-- End: .each-features -->

                            <div class="each-features col-md-3 col-sm-6 col-xs-12">
                                <div class="inner background-light text-center">
                                    <div class="features-hover">
                                        <img src="{% static 'img/trey lmao.jpg' %}" alt="Our Members" class="img-responsive">
                                        <div class="mask">
                                            <div class="mask-inner">
                                                <div class="title">Get Connected</div>
                                                <ul class="nav social-icon">
                                                    <li><a href="#" width="33px" height="33px"><i class="icon icons8-facebook"></i></a></li>
                                                    <li><a href="#"><i class="icon icons8-twitter"></i></a></li>
                                                    <li><a href="#"><i class="icon icons8-pinterest"></i></a></li>
                                                    <li><a href="#"><i class="icon icons8-instagram"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="detail">
                                        <h6 class="name">Trong Nguyen</h6>
                                        <p class="position">Summer Games Intern</p>
                                    </div>
                                        
                                </div> <!-- End: .inner -->
                            </div> <!-- End: .each-features -->

                        
                    </div> <!-- End: .col-md-8 -->

                </div> <!-- End: .row -->
                
                    <div class="clearfix"></div>

                    <div class="features-item col-xs-12">
                        <div class="row">
                            
                            <div class="each-features col-md-3 col-sm-6 col-xs-12">
                                <div class="inner background-light text-center">
                                    <div class="features-hover">
                                        <img src="{% static 'img/kit lmao.jpg' %}" alt="Our Members" class="img-responsive">
                                        <div class="mask">
                                            <div class="mask-inner">
                                                <div class="title">Get Connected</div>
                                                <ul class="nav social-icon">
                                                    <li><a href="#"><i class="icon icons8-facebook"></i></a></li>
                                                    <li><a href="#"><i class="icon icons8-twitter"></i></a></li>
                                                    <li><a href="#"><i class="icon icons8-pinterest"></i></a></li>
                                                    <li><a href="#"><i class="icon icons8-instagram"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="detail">
                                        <h6 class="name">Margaret the Junior</h6>
                                        <p class="position">Intern</p>
                                    </div>
                                        
                                </div> <!-- End: .inner -->
                            </div> <!-- End: .each-features -->

                            <div class="each-features col-md-3 col-sm-6 col-xs-12">
                                <div class="inner background-light text-center">
                                    <div class="features-hover">
                                        <img src="{% static 'img/tori lmao.jpg' %}" alt="Our Members" class="img-responsive">
                                        <div class="mask">
                                            <div class="mask-inner">
                                                <div class="title">Get Connected</div>
                                                <ul class="nav social-icon">
                                                    <li><a href="#"><i class="icon icons8-facebook"></i></a></li>
                                                    <li><a href="#"><i class="icon icons8-twitter"></i></a></li>
                                                    <li><a href="#"><i class="icon icons8-pinterest"></i></a></li>
                                                    <li><a href="#"><i class="icon icons8-instagram"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="detail">
                                        <h6 class="name">Victoria Ponci</h6>
                                        <p class="position">Summer Games Intern</p>
                                    </div>
                                        
                                </div> <!-- End: .inner -->
                            </div> <!-- End: .each-features -->

                            <div class="each-features col-md-3 col-sm-6 col-xs-12">
                                <div class="inner background-light text-center">
                                    <div class="features-hover">
                                        <img src="{% static 'img/vik lmao.jpg' %}" alt="Our Members" class="img-responsive">
                                        <div class="mask">
                                            <div class="mask-inner">
                                                <div class="title">Get Connected</div>
                                                <ul class="nav social-icon">
                                                    <li><a href="#"><i class="{% static 'icon icons8-facebook' %}"></i></a></li>
                                                    <li><a href="#"><i class="{% static 'icon icons8-twitter' %}"></i></a></li>
                                                    <li><a href="#"><i class="{% static 'icon icons8-pinterest' %}"></i></a></li>
                                                    <li><a href="#"><i class="{% static 'icon icons8-instagram' %}"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="detail">
                                        <h6 class="name">Vikram Ramesh</h6>
                                        <p class="position">Summer Games Intern</p>
                                    </div>
                                        
                                </div> <!-- End: .inner -->
                            </div> <!-- End: .each-features -->

                            <div class="each-features col-md-3 col-sm-6 col-xs-12">
                                <div class="inner background-light text-center">
                                    <div class="features-hover">
                                        <img src="{% static 'img/andrew lmao.jpg' %}" alt="Our Members" class="img-responsive">
                                        <div class="mask">
                                            <div class="mask-inner">
                                                <div class="title">Get Connected</div>
                                                <ul class="nav social-icon">
                                                    <li><a href="#"><i class="icon icons8-facebook"></i></a></li>
                                                    <li><a href="#"><i class="icon icons8-twitter"></i></a></li>
                                                    <li><a href="#"><i class="icon icons8-pinterest"></i></a></li>
                                                    <li><a href="#"><i class="icon icons8-instagram"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="detail">
                                        <h6 class="name">Andrew Samuelson</h6>
                                        <p class="position">Summer Games Intern</p>
                                    </div>
                                        
                                </div> <!-- End: .inner -->
                            </div> <!-- End: .each-features -->

                        
                    </div> <!-- End: .col-md-8 -->

                </div> <!-- End: .row -->
                
            </div> <!-- End: .container -->
        </section>
        

    <section class="contact bg-primary" id="contact">
        <div class="container">
            <h2>We <i class="fa fa-heart pulse"></i> new friends!</h2>
            <ul class="list-inline list-social">
                <li class="list-inline-item social-twitter">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="list-inline-item social-facebook">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="list-inline-item social-google-plus">
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
            </ul>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2017 Predictive26. All Rights Reserved.</p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#">Privacy</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">Terms</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">FAQ</a>
                </li>
            </ul>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/tether/tether.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/new-age.min.js' %}"></script>
    <script>
    $('#product').click(function(e) {
e.preventDefault();
newLocation = this.href;
$('body').fadeOut('slow', newpage);
});
function newpage() {
window.location = newLocation;
}
    </script>

</body>

</html>
