{% load static %}

<link rel="stylesheet" href="{% static 'css/product/normalize.css' %}">
<link rel="stylesheet" href="{% static 'css/product/icons.css' %}">
<link rel="stylesheet" href="{% static 'css/product/component.css' %}">




        <section class="pricing-section bg-7">
        
            <div class="pricing pricing--norbu" style="padding-top:10%; padding-bottom:10%">
           <!--
           <div class="priceheader">
            <h1>test</h1>
            </div> -->
                <div class="pricing__item">
                    <h3 class="pricing__title">Basic</h3>
                    <p class="pricing__sentence">For organizations that want to monitor a small country.
                    </p>
                    <div class="pricing__price"><span class="pricing__currency">$</span>35,000<span class="pricing__period"> (Per Year) </span></div>
                    <ul class="pricing__feature-list">
                        <li class="pricing__feature">1,500 health centers covered</li>
                        <li class="pricing__feature">1 government monitoring center</li>
                    </ul>
                    <button class="pricing__action" onclick="location.href='/map/contact';">Connect With Us</button>
                </div>
                <div class="pricing__item pricing__item--featured">
                    <h3 class="pricing__title">Advanced</h3>
                    <p class="pricing__sentence">For organizations who want to monitor a medium size country.
                    </p>
                    <div class="pricing__price"><span class="pricing__currency">$</span>130,000<span class="pricing__period">(Per Year)</span></div>
                    <ul class="pricing__feature-list">
                        <li class="pricing__feature">5,000 health centers covered</li>
                        <li class="pricing__feature">4 government monitoring centers</li>
                    </ul>
                    <button class="pricing__action" onclick="location.href='/map/contact';">Connect With US</button>
                </div>
                <div class="pricing__item">
                    <h3 class="pricing__title">Pro</h3>
                    <p class="pricing__sentence">For organizations that want to monitor a large size country.
                    </p>
                    <div class="pricing__price"><span class="pricing__currency">$</span>300,000<span class="pricing__period">(Per Year)</span></div>
                    <ul class="pricing__feature-list">
                        <li class="pricing__feature">10,000 health canters covered</li>
                        <li class="pricing__feature">10 government monitoring centers</li>
                    </ul>
                    <button class="pricing__action" onclick="location.href='/map/contact';">Connect With Us</button>
                </div>
             
            </div>
        </section>
      
