{% load static %}

<link rel="stylesheet" href="{% static 'css/product/normalize.css' %}">
<link rel="stylesheet" href="{% static 'css/product/icons.css' %}">
<link rel="stylesheet" href="{% static 'css/product/component.css' %}">




        <section class="pricing-section bg-7">
            <div class="pricing pricing--norbu">
            <h2 class="pricing-section__title">Norbu</h2>
                <div class="pricing__item">
                    <h3 class="pricing__title">Basic</h3>
                    <p class="pricing__sentence">For organizations that want a simple reporting and information system</p>
                    <div class="pricing__price"><span class="pricing__currency">$</span>19<span class="pricing__period"> (Price) </span></div>
                    <ul class="pricing__feature-list">
                        <li class="pricing__feature">Text-in reporting</li>
                        <li class="pricing__feature">Data aggregation</li>
                        <li class="pricing__feature">Map view</li>
                    </ul>
                    <button class="pricing__action" onclick="location.href='/map/contact';">Connect With Us</button>
                </div>
                <div class="pricing__item pricing__item--featured">
                    <h3 class="pricing__title">Advanced</h3>
                    <p class="pricing__sentence">For organizations who want additional data views and analytics</p>
                    <div class="pricing__price"><span class="pricing__currency">$</span>29<span class="pricing__period">(price)</span></div>
                    <ul class="pricing__feature-list">
                        <li class="pricing__feature">All basic package features</li>
                        <li class="pricing__feature">Graph view</li>
                        <li class="pricing__feature">Machine learning</li>
                        <li class="pricing__feature">In-system notifications</li>
                    </ul>
                    <button class="pricing__action" onclick="location.href='/map/contact';">Connect With US</button>
                </div>
                <div class="pricing__item">
                    <h3 class="pricing__title">Pro</h3>
                    <p class="pricing__sentence">For organizations that want additional data layers and an alert system</p>
                    <div class="pricing__price"><span class="pricing__currency">$</span>79<span class="pricing__period">(Pricing)</span></div>
                    <ul class="pricing__feature-list">
                        <li class="pricing__feature">All advanced package features</li>
                        <li class="pricing__feature">Text alerts</li>
                        <li class="pricing__feature">Geodata layer</li>
                         <li class="pricing__feature">Addintional maps and graphs</li>
                    </ul>
                    <button class="pricing__action" onclick="location.href='/map/contact';">Connect With Us</button>
                </div>
            </div>
        </section>
      