{% load static %}
<html>
<title>{{district_name}}</title>
<script src="https://openlayers.org/en/v4.2.0/build/ol.js" type="text/javascript"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
<link rel="stylesheet" href="https://openlayers.org/en/v4.2.0/css/ol.css" type="text/css">
<body>
    <div>
        <div id="mySidenav" class="sidenav">
            <a href="#">{{district_name}}</a>
        </div>

        <div id="map" class="mapol">
        </div>
    </div>
</body>

<!--Stylesheets by Predictive26-->
<link rel="stylesheet" href="{% static 'css/olmap.css' %}">
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">

<script src="{% static 'js/ol-district-map.js' %}"></script>

<!--Javascript Libraries-->



<!--Javascript by Predictive26-->

</html>