{% load static %}
{% load render_bundle from webpack_loader %}
<html class="no-js">
<title>{{district_name}}</title>
<script src="https://openlayers.org/en/v4.2.0/build/ol.js" type="text/javascript"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
<script type="text/javascript" src="{% static 'fusioncharts/fusioncharts.js' %}"></script>
<script type="text/javascript" src="{% static 'fusioncharts/themes/fusioncharts.theme.fint.js' %}"></script>
<link rel="stylesheet" href="https://openlayers.org/en/v4.2.0/css/ol.css" type="text/css">


<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/padding-sidebar.css' %}">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
 

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{%  include 'map/include_js_header.html' %}

<a id="zoom" hidden>{{dist.zoom}}</a>
<a id="lat" hidden>{{dist.lat}}</a>
<a id="lng" hidden>{{dist.lng}}</a>
<div id="info" hidden></div>
<div id="name" hidden></div>
<div id="cases" hidden></div>
<div id="active" hidden></div>
<a id="hospital_name"></a>
<a id="count"></a>
<div id="type">None</div>

<style>
#constant{
	position: absolute;
	z-index: 2000;
	width: 30%;
	top: 50px;
}

</style>
<body>
{% include 'map/sidebar_2.html' %}


<!--
        <div id="mySidenav" class="sidenav">
            <a href="/map/product/">{{district_name}}</a>
            <a id="hospital_name"></a>
            <a id="count"></a>
            <div id="overview">
            </div>
        </div>
        <div class="pt-triggers">
            <button id="iterateEffects" class="pt-touch-button">Map</button>
            <button id="iterateEffects2" class="pt-touch-button">Graph</button>
        </div>-->
        
        
    	 <div id="pt-main" class="pt-perspective">
            <div class="pt-page pt-page-1">
                <div id="map" class="mapol"></div>
            </div>
            <div class="pt-page pt-page-2">
                <div class="graphs">
                    <div id="chart-div" class="main-chart-container">
                        
                    </div>
                </div>
            </div>
    	 </div>
         
       






  
    <!--PageTransitions JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'pagetransitions/js/jquery.dlmenu.js' %}"></script>
    <script type="text/javascript" src="{% static 'pagetransitions/js/pagetransitions.js' %}"></script>
 
    <!--PageTransitions CSS-->


    <link rel="stylesheet" href="{% static 'pagetransitions/css/animations.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'pagetransitions/css/component.css' %}" type="text/css">


</body>
{% include 'map/include_js_footer.html' %}

<!--Stylesheets by Predictive26-->
<script type="text/javascript" src="{% static 'js/ol-district-map.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/olmap.css' %}">
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">

<script src="{% static 'js/ol-district-map.js' %}"></script>
<script src="{% static 'js/region-charts.js' %}"></script>
<!--Javascript Libraries-->
  <script src="{% static 'js/toggle_sidebar_region.js' %}"></script>



<!--Javascript by Predictive26-->

