{% load static %}
{% load render_bundle from webpack_loader %}
<link rel="stylesheet" href="{% static 'css/padding-sidebar.css' %}">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<body>

<div class="padsidebar">

<h1>Reports</h1>
<p>June 24- 50 bed Ebola treatment center opens in Kailahun District
July 10 – 22 50 bodies were buried over a 12-day period
June 24- July 24-more than 90 confirmed cases in the first 4 weeks
</p>
<p>Selected Region Summary: </p>
<a href="/map/region/{{district}}">{{district}}</a>
<a>Deaths confirmed: {{reports}}</a>








</div>

</body>
