{% load static %}
<!DOCTYPE html>
<html class="no-js">
    <head>
        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
        <title>Timer Agency Template</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Template CSS Files
        ================================================== -->
        <!-- Twitter Bootstrs CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <!-- Ionicons Fonts Css -->
        <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
        <!-- animate css -->
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
        <!-- Hero area slider css-->
        <link rel="stylesheet" href="{% static 'css/slider.css' %}">
        <!-- owl craousel css -->
        <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
        <link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}">
        <!-- template main css file -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <!-- responsive css -->
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
        
        <!-- Template Javascript Files
        ================================================== -->
        <!-- modernizr js -->
        <script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>
        <!-- jquery -->
        <script src="{% static '//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' %}"></script>
        <!-- owl carouserl js -->
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <!-- bootstrap js -->

        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- wow js -->
        <script src="{% static 'js/wow.min.js' %}"></script>
        <!-- slider js -->
        <script src="{% static 'js/slider.js' %}"></script>
        <script src="{% static 'js/jquery.fancybox.js' %}"></script>
        <!-- template main js -->
        <script src="{% static 'js/main.js' %}"></script>
    </head>
    <body>
        <!--
        ==================================================
        Header Section Start
        ================================================== -->
        <header id="top-bar" class="navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <!-- /responsive nav button -->
                    
                    <!-- logo -->
                    <div class="navbar-brand">
                        <a href="index.html" >
                            <img id="logo2" src="{% static 'img/about/logo2.png' %}" height="100px">
                        </a>
                    </div>
                    <!-- /logo -->
                </div>
                <!-- main menu -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <div class="main-menu">
                        <ul class="nav navbar-nav navbar-right">
                             <li>
                                <a href="/map/index" >Home</a>
                            </li>
                            <li><a href="/map/about">About</a></li>
                            <li><a href="/map/service">Impact</a></li>
                            <li><a href="/map/blog">Product</a></li>
                            <li><a href="/map/contact">Contact</a></li>
                            
                        </ul>
                    </div>
                </nav>
                <!-- /main nav -->
            </div>
        </header>

        <!-- 
        ================================================== 
            Global Page Section Start
        ================================================== -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>The Impact of Health-R.A.I.S.</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="index.html">
                                        <i class="ion-ios-home"></i>
                                        Home
                                    </a>
                                </li>
                                <li class="active">Impact</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>   
        </section><!--/#Page header-->


        <!-- 
        ================================================== 
            Service Page Section  Start
        ================================================== -->
        <section id="service-page" class="pages service-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="block" style="inline:block">
                            <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">What We Love To Do</h2>
                            <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis porro recusandae non quibusdam iure adipisci.</p>
                             <div class="row service-parts">
                                <p  class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                                   Outbreaks can pop up anywhere, and for any number of reasons, but one of the reasons that they turn into epidemics is communication, or lack thereof. We know that a lot of the time these outbreaks seem to start in resource-poor areas, and one thing that a lot of resource-poor areas have in common is an inefficient communication network. According to the National Center for Biotechnology Information, on average only 28% of healthcare facilities in Sub-Saharan Africa have reliable access to electricity, and around 26% of them have no access at all. Because of this, a lot of health centers rely on other means of data reporting, and this usually involves filling out paper forms and then periodically delivering them to the capital.
                                </p>
                                <p  class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration="500ms">
                                    To try to fill these gaps, solutions have popped up that utilize internet or even smartphone apps to try to aid the flow of communication across regions. But these "fixes" all fall short because of one fatal detail: these regions have almost no internet at all. In Sierra Leone, for example, only 4% of the population has access to the internet, according to BBC. However, around 94% of the population has access to a cell phone, and while these phones might not be the most up-to-date, high tech smartphones available on the current market, they all at least have baseline SMS capabilities. This means that around 94% of the population has access to texting, which is the mode of communication that we are aiming to utilize. 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-push-6">
                                <div class="block">
                                         <hC>What We Love To Do</hC>
                                </div>
                                <div class="block">
                                        <div style="width: 20%; float: right;">                    
                                                <div class="block wow fadeInLeft animated" data-wow-delay=".3s" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 0.3s; animation-name: fadeInLeft;">                    
                                                    <img id="chart" src="/static/img/impactgraphic.png" alt="">
                                                </div>
                                        </div>
                                </div> 
                        </div>
                </div>
            </div>               
        </section>

  <!--================================================== 
            Company Feature Section Start
        ================================================== -->
        <section class="about-feature clearfix">
            <div class="container-fluid">
                <div class="row">
                    <div class="block about-feature-1 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">
                        <h2>
                        REPORT
                        </h2>
                        <p>
                            It is imperative that national-level health officials receive accurate, up-to-date data from all over their country, and this system makes it easy to send and report data with just one simple text. Using a common format, each SMS message will display three things: location, disease name, and case count. Once the platform receives this message, it will sort the information and then display it on a map, where all real-time health data can be viewed. The frequency that these health workers report information is up to the discretion of the user, but for the best results we recommend daily reports. Hourly reports may even be required in critical situations. 
                        <br>
                        </br>
                        </p>
                    </div>
                    <div class="block about-feature-2 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                        <h2 class="item_title">
                        MONITOR
                        </h2>
                        <p>
                            With the HealthRAIS platform, governments can monitor health data from all over the country so they can be informed at all times, even when there isn't a current outbreak. In the Map system, pins pop up wherever a new case has been reported, and each region turns a different color depending on the number of reports received. The disease and date range can be chosen manually, so that the user only sees the information that they want, and different areas and cases can be clicked on to go more in depth. Concurrently, all data will also be displayed in graphs, and the user can switch between map and graph view to get the information in the way that is best for them. 
                        </p>
                    </div>
                    <div class="block about-feature-3 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".7s">
                        <h2 class="item_title">
                        ALERT
                        </h2>
                        <p>
                            The HealthRAIS platform has two alert systems: one internal and one external. With the internal alert system, more urgent health data coming in is organized and displayed at the top of the Map page to alert the user that there is abnormal activity occurring somewhere in the country. This way, when a critical situation is unfolding, the user is notified right away and no time is wasted. Another capability of this system is its external alerts feature. Using this, officials can send out notifications to registered phone numbers that a high risk situation is taking place in a neighboring area. Now, health workers in that area know to immediately report if they see certain diseases come into their hospital.  
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- 
        ================================================== 
            Works Section Start
        ================================================== -->
        <section class="works service-page">
            <div class="container">
                <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">Some Of Our Features Works</h2>
                    <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">
                        Aliquam lobortis. Maecenas vestibulum mollis diam. Pellentesque auctor neque nec urna. Nulla sit amet est. Aenean posuere <br> tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus.
                    </p>
                    <div class="row service-parts">
                                <div class="col-md-push-7 col-lg-7 col-xs-12">
                                    <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">
                                        <i class="ion-ios-paper-outline"></i>
                                        <h4>CURRENT STATUS</h4>
                                        <p>Resource poor areas have cell phones but no internet, and because of this communication is slow and outdated, making it extremely hard to report urgent information in a timely manner (1).</p>
                                    </div>
                                </div>
                                <div class="col-md-7 col-lg-7 col-xs-12">
                                    <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="800ms">
                                        <i class="ion-ios-pint-outline"></i>
                                        <h4>DESIGN</h4>
                                        <p>Veritatis eligendi, dignissimos. Porta fermentum mus aute pulvinar earum minus platea massa feugiat rutrum urna facilisi ipsameum.</p>
                                    </div>
                                </div>
                                <div class="col-md-push-7 col-lg-7 col-xs-12">
                                    <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="1s">
                                        <i class="ion-ios-paper-outline"></i>
                                        <h4>DEVELOPMENT</h4>
                                        <p>Veritatis eligendi, dignissimos. Porta fermentum mus aute pulvinar earum minus platea massa feugiat rutrum urna facilisi ipsameum.</p>
                                    </div>
                                </div>
                                <div class="col-md-7 col-lg-7 col-xs-12">
                                    <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="1.1s">
                                        <i class="ion-ios-paper-outline"></i>
                                        <h4>THEMEING</h4>
                                        <p>Veritatis eligendi, dignissimos. Porta fermentum mus aute pulvinar earum minus platea massa feugiat rutrum urna facilisi ipsameum.</p>
                                    </div>
                                </div>
                            </div>
                    
                    
            <!--
            <div class="row">
                    <div class="col-sm-3">
                         <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                            <div class="img-wrapper">
                                <img src="{% static 'img/portfolio/item-1.jpg' %}" class="img-responsive" alt="this is a title" >
                                <div class="overlay">
                                    <div class="buttons">
                                        <a rel="gallery" class="fancybox" href="{% static 'img/portfolio/item-1.jpg' %}">Demo</a>        
                                        <a target="_blank" href="">Details</a>
                                    </div>
                                </div>
                            </div>
                            <figcaption>
                                <h4>
                                    <a href="#">
                                        Dew Drop        
                                    </a>
                                </h4>
                                <p>
                                    Redesigne UI Concept
                                </p>
                            </figcaption>
                        </figure>
                    </div>

                    <div class="col-sm-3">
                        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="img-wrapper">
                                <img src="{% static 'img/portfolio/item-2.jpg' %}" class="img-responsive" alt="this is a title" >
                                <div class="overlay">
                                    <div class="buttons">
                                        <a rel="gallery" class="fancybox" href="{% static 'img/portfolio/item-2.jpg' %}">Demo</a>        
                                        <a target="_blank" href="">Details</a>
                                    </div>
                                </div>
                            </div>
                            <figcaption>
                                <h4>
                                    <a href="#">
                                        Bottle Mockup        
                                    </a>
                                </h4>
                                <p>
                                    Lorem ipsum dolor sit.
                                </p>
                            </figcaption>
                        </figure>
                    </div>

                    <div class="col-sm-3">
                        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="img-wrapper">
                                <img src="{% static 'img/portfolio/item-3.jpg' %}" class="img-responsive" alt="" >
                                <div class="overlay">
                                    <div class="buttons">
                                        <a rel="gallery" class="fancybox" href="{% static 'img/portfolio/item-3.jpg' %}">Demo</a>        
                                        <a target="_blank" href="">Details</a>
                                    </div>
                                </div>
                            </div>
                            <figcaption>
                                <h4>
                                    <a href="#">
                                        Table Design        
                                    </a>
                                </h4>
                                <p>
                                    Lorem ipsum dolor sit amet.
                                </p>
                            </figcaption>
                        </figure>
                    </div>

                    <div class="col-sm-3">
                        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="600ms">
                            <div class="img-wrapper">
                                <img src="{% static 'img/portfolio/item-4.jpg' %}" class="img-responsive" alt="" >
                                <div class="overlay">
                                    <div class="buttons">
                                        <a rel="gallery" class="fancybox" href="{% static 'img/portfolio/item-4.jpg' %}">Demo</a>        
                                        <a target="_blank" href="">Details</a>
                                    </div>
                                </div>
                            </div>
                            <figcaption>
                                <h4>
                                    <a href="#">
                                        Make Up elements        
                                    </a>
                                </h4>
                                <p>
                                    Lorem ipsum dolor.
                                </p>
                            </figcaption>
                        </figure>
                    </div> 
                    -->

                   

                </div>
            </div>
        </section>
        <!-- 
      




        <!-- 
        ================================================== 
            Call To Action Section Start
        ================================================== -->
        <section id="call-to-actionsources">
            <div class="container">
                <div class="row">
                    <div class="col-md-push-1 text-left">
                        <div class="block">
                            <h2sources class="title wow fadeInDown" data-wow-delay=".3s"   data-wow-duration="500ms">Sources
                            </h2sources>
                            <div class="col-md-push-1 text-left">
                            <ul class="col-md-push-1 text-left">
                                <a href="https://www.budde.com.au/Research/Sierra-Leone-Telecoms-Mobile-and-Broadband-Statistics-and-Analyses"> 
                                <li> (1) https://www.budde.com.au/Research/Sierra-Leone-Telecoms-Mobile-and-Broadband-Statistics-and-Analyses
                                </li> 
                                </a>
                                <a2 href="https://ebolaresponse.un.org/timeline">
                                <li class="fa fa-sign-out">(2) https://ebolaresponse.un.org/timeline </li>
                                </a2>
                                <a2 href="https://ebolaresponse.un.org/timeline">
                                <li>(3) https://ebolaresponse.un.org/timeline</li> </a2>
                                <a2 href="http://www.who.int/csr/don/2009_08_04/en/">
                                <li>(4) http://www.who.int/csr/don/2009_08_04/en/</li></a2>
                                <a2 href="http://downloads.bbc.co.uk/rmhttp/mediaaction/pdf/research/mobile-media-landscape-sierra-leone-report.pdf">
                                <li>(5) http://downloads.bbc.co.uk/rmhttp/mediaaction/pdf/research/mobile-media-landscape-sierra-leone-report.pdf</li></a2>
                            </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>


        <!-- 
        ================================================== 
            Footer Section Start
        ================================================== -->
        <footer id="footer">
            <div class="container">
                <div class="col-md-8">
                    <p class="copyright">Copyright: <span>2017</span> . Design and Developed by <a href="/map/about">Predictive26</a></p>
                </div>
                <div class="col-md-4">
                    <!-- Social Media -->
                    <ul class="social">
                        <li>
                            <a href="#" class="Facebook">
                                <i class="ion-social-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="Twitter">
                                <i class="ion-social-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="Linkedin">
                                <i class="ion-social-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="Google Plus">
                                <i class="ion-social-googleplus"></i>
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </footer> <!-- /#footer -->
    </body>
</html>