{% load static %}
{% load render_bundle from webpack_loader %}
<link rel="stylesheet" href="{% static 'css/padding-sidebar.css' %}">


<body>

<div class="padsidebar">
<a href="/map/region/{{district}}">{{district}}</a>
<a href="#">Deaths confirmed: {{reports}}</a>

<div class="alert alert-success alert-dismissable">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Success!</strong> Indicates a successful or positive action.
</div>

<div class="alert alert-info alert-dismissable">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Info!</strong> Indicates a neutral informative change or action.
</div>

<div class="alert alert-warning alert-dismissable">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Warning!</strong> Indicates a warning that might need attention.
</div>


<div class="alert alert-danger alert-dismissable">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Danger!</strong> Indicates a dangerous or potentially negative action.

</div>


</div>





</div>

</body>
